<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename = 'home/home_theme/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='home/home_theme/css/one-page-wonder.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('core.index')}}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% if current_user.is_authenticated and current_user.confirmed %}
        Welcome {{current_user.username}}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('member_login.logout')}}">Logout</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('member_login.sign_up')}}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('member_login.sign_in')}}">Log In</a>
          </li>
        </ul>
        {% endif %}        
        
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" style="margin-top: 100px;">
    <!-- <img src="https://picsum.photos/800/500" class="jumbotron-image" /> -->
    
    <div class="container" style="color: white;">
      <h1 class="display-4 textinsde">Young Politicians and Leaders Network</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static',filename='home/home_theme/img/01.jpg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Mission Statement </h2>
            <p>To empower the young generation to overcome ensuing challenges that engender the emergence of a generation of youth leaders and entrepreneurs across all sectors.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static',filename='home/home_theme/img/02.jpg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Core Values</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">a.	Integrity</li>
              <li class="list-group-item">b.	Empowerment</li>
              <li class="list-group-item">c.	Innovation</li>
              <li class="list-group-item">d.	Community</li>
              <li class="list-group-item">e.	Respect</li>
              <li class="list-group-item">f.	Diversity</li>
              <li class="list-group-item">g.	Entrepreneurial </li>
              <li class="list-group-item">h.	Intrapreneurship</li>
              <li class="list-group-item">i.	Collaborative</li>
              <li class="list-group-item">j.	Teamwork</li>
              <li class="list-group-item">k.	Ownership</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static',filename='home/home_theme/img/03.jpg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Objects</h2>
            <p>The objects of the Organization are to carry on activities which benefit the community or society and the economy at large.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small"></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static',filename='home/home_theme/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='home/home_theme/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
