{% extends 'base_dashboard.html' %}
{% block content %}
<div class="content">
    {% for posts in blogposts.items %}
    <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body" align='center'>
          <h3><a class="card-title" href="{{url_for('blog_post_bp.blog_post',blog_post_id=posts.id)}}">{{posts.title}}</a></h3>
          <a href="{{url_for('member_login.users_posts',username=posts.author.username)}}">Written By: {{posts.author.username}}</a>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <p>Published on: {{posts.date.strftime('%Y-%m-%d')}}</p>
          <a class="btn btn-primary" href="{{url_for('blog_post_bp.blog_post',blog_post_id=posts.id)}}">Read Post</a>
        </div>
      </div>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% for page_num in blogposts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)%}
            {% if blogposts.page == page_num %}
                <li class="page-item" disabled>
                    <a class="page-link" href="{{url_for('member_login.profile', page=page_num)}}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('member_login.profile', page=page_num)}}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        </nav>
</div>
{% endblock %}
